<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bynal.woman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for calendar -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- GCM -->
    <!-- <permission
        android:name="app.bynal.woman.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.bynal.woman.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- video -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.youtube" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    
   <!--  parse push -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:protectionLevel="signature"
	    android:name="app.bynal.woman.permission.C2D_MESSAGE" />
	<uses-permission android:name="app.bynal.woman.permission.C2D_MESSAGE" />

    <application
        android:name="com.acv.libs.nbase.ACVbaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity
            android:name="org.acv.bynal.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="org.acv.bynal.camera.TestActivity"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="org.acv.bynal.camera.CropActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.acv.bynal.camera.UploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <activity
            android:name="com.acv.libs.base.tab.BaseTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.ForgotpasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.acv.bynal.main.activity.MainHomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.acv.bynal.message.MessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.SendContactActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.ProjectmanagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="org.acv.bynal.activity.ProjectDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- GCM -->
        <activity
            android:name="org.acv.bynal.activity.PushDialogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- upload video -->
        <activity
            android:name="org.acv.bynal.camera.DetailsActivity"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="org.acv.bynal.camera.CameraActivity" >
        </activity>
        <activity
            android:name="org.acv.bynal.camera.VideoActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>

        <!-- <receiver
            android:name="org.acv.bynal.activity.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="app.bynal.woman" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.acv.bynal.push.mPaserPushBroadcastReciver" />
            </intent-filter>
        </receiver> -->
        <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name="org.acv.bynal.activity.GcmBroadcastReceiver"
		    android:exported="false">
		  <intent-filter>
		    <action android:name="com.parse.push.intent.RECEIVE" />
		    <action android:name="com.parse.push.intent.DELETE" />
		    <action android:name="com.parse.push.intent.OPEN" />
		    </intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		 
		    <!--
		      IMPORTANT: Change "com.parse.starter" to match your app's package name.
		    -->
		    <category android:name="app.bynal.woman" />
		  </intent-filter>
		</receiver>
        <!--
        <receiver
            android:name="org.acv.bynal.push.PaserPushBroadcastReciver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.acv.bynal.push.PaserPushBroadcastReciver" />
            </intent-filter>
        </receiver>
        -->
        <activity android:name="com.acv.libs.base.test.PushTestActivity" >
        </activity>

        <service
            android:name="org.acv.bynal.activity.MessageService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!-- Paypal service -->
        <!--
        <activity
            android:name="com.paypal.sdk.SampleActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="com.org.payment.sdk.StripeActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>

        <service
            android:name="a.com.acv.bynal.v3.service.V3BynalService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="org.acv.bynal.activity.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>